<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper blue darken-3">
            <div class="container">
                <a href="#" class="brand-logo">Shopping</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Login</a></li>
                    <li><a href="badges.html">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row right-bar">
            <div class="col s4 m4">
                <div class="collection">
                    <a href="#!" class="collection-item blue-text text-darken-3"><span class="badge ">1</span>Alan</a>
                    <a href="#!" class="collection-item blue-text text-darken-3"><span class="badge">1</span>Alan</a>
                    <a href="#!" class="collection-item blue-text text-darken-3"><span class="badge">1</span>Alan</a>
                </div>
            </div>
            <div class="col s8">
                <form action="/admin/add-product" method="POST">
                    <div class="row">
                        <div class="input-field col s9">
                            <input id="name" type="text" class="validate" placeholder="Please Enter A Product Name">
                        </div>
                        <div class="input-field col s3">
                            <a class="waves-effect waves-light btn blue darken-3 ">Save</a>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>

</body>

</html>