<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper blue darken-3 z-depth-1">
            <div class="container">
                <a href="#" class="brand-logo">Shopping</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Login</a></li>
                    <li><a href="badges.html">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row right-bar">
            <div class="col s4">
                <div class="collection">
                    <a href="#!" class="collection-item blue-text text-darken-3"><span class="badge ">1</span>Alan</a>
                    <a href="#!" class="collection-item blue-text text-darken-3"><span class="badge">1</span>Alan</a>
                    <a href="#!" class="collection-item blue-text text-darken-3"><span class="badge">1</span>Alan</a>
                </div>
            </div>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img
                            src="https://cdn.vatanbilgisayar.com/Upload/BANNER//yeni-tasarim/anasayfa/2020_nisan/ensuper-web-min.jpg">
                        <!-- random image -->
                    </li>
                    <li>
                        <img
                            src="https://cdn.vatanbilgisayar.com/Upload/BANNER//yeni-tasarim/anasayfa/2020_nisan/ensuper-web-min.jpg">
                        <!-- random image -->
                    </li>
                    <li>
                        <img
                            src="https://cdn.vatanbilgisayar.com/Upload/BANNER//yeni-tasarim/anasayfa/2020_nisan/ensuper-web-min.jpg">
                        <!-- random image -->
                    </li>
                </ul>
            </div>

            <div class="col s8">
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/2.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title">Iphone 6</span>
                            <p>Temiz kullanılmış</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="blue-text text-darken-3 ">Satın Al</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/1.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title">Iphone 5s</span>
                            <p>Az kullanılmış</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="blue-text text-darken-3 ">Satın Al</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/3.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title">Iphone 11</span>
                            <p>Güzel</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="blue-text text-darken-3 ">Satın Al</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>

</html>