doctype html
html(lang='en')
	include ../include/head.pug
	body
		include ../include/navbar.pug
		.container.ic
			.row
				block content
				include ../include/scripts.pug

				
				
				
					
