extends ../layouts/main-layout.pug
include ../mixins/createProduct.pug

block content
	include ../include/right-bar.pug
	.col.s8
		if products.length > 0
			each product in products
				+createProduct(product)
		else
			h1 No Product
