extends ../layouts/main-layout.pug
block content
	.container.ic
		.row
			if errorMessage
				.card-panel.red
					.card-content.white-text
						span.card-title #{errorMessage}
			form(action='/register', method='POST')
				if tempData
					.row
						.col.s8.ic-col
							.input-field.col.s12.l6
								input#name.validate(name ='name',type='text', value=`${tempData.name}` )
								label(for='name') Name
							.input-field.col.s12.l6
								input#surname.validate(name='surname',type='text', value=`${tempData.surname}`)
								label(for='surname') Surname
							.input-field.col.s12.l6
								input#email.validate(name='email',type='email', value=`${tempData.email}`)
								label(for='email') E-Mail
							.input-field.col.s12.l6
								input#password.validate(name='password',type='password',)
								label(for='password') Password
							.input-field.col.s12.l6
								button.btn.waves-effect.waves-light(type='submit', name='submit')| Register
							.input-field.col.s12.l6
								a(href='/login') I Have Already An Account
				else	
					.row
						.col.s8.ic-col
							.input-field.col.s12.l6
								input#name.validate(name ='name',type='text', )
								label(for='name') Name
							.input-field.col.s12.l6
								input#surname.validate(name='surname',type='text',)
								label(for='surname') Surname
							.input-field.col.s12.l6
								input#email.validate(name='email',type='email',)
								label(for='email') E-Mail
							.input-field.col.s12.l6
								input#password.validate(name='password',type='password',)
								label(for='password') Password
							.input-field.col.s12.l6
								button.btn.waves-effect.waves-light(type='submit', name='submit')| Register
							.input-field.col.s12.l6
								a(href='/login') I Have Already An Account
		

