.col.s4.m4
    .collection
        if categories.length >0
            each category in categories
                a.collection-item.waves-effect.waves-blue(href=`/categories/${category.id}` class=category.id==selectedCategory?
                "collection-item active blue text-blue":"collection-item")
                    span.badge #{length}
                    | #{category.name}
